# Ignore build artifacts
*.pyc

# Ignore logs and test data
test/*
logs/*
test_data/*
test_logs/*
*.xml
*.txt

# Ignore venv
venv/*

# Ignore .idea
.idea/*.iml

# Ignore formal documentation
docs/*

# Ignore tmpFile
tmpFile

# But keep requirements.txt
!requirements.txt